@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
    width: 100vw;
    height: 100vh;
    margin: 0;

}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar a {
  color: #333;

}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card-box {
  display: flex;
  justify-content: center;
   gap: 15px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   border-radius: 5px;
   background-color: #fff;
   text-align: center;
   padding: 15px 100px;
   color: black;
}

.upper,
.lower {
    display: flex;
    gap: 3vw;

}




.firstName,
.lastName,
.phone,
.email,
.schoolName,
.titleOfStudy,
.from,
.to,
.company,
.position,
.location,
.profession,
.about,
.hobbies,
.imageContainer,
.experience {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input {
    
  background: #ecf0f3;
  padding: 5px;
  padding-left: 20px;
  height: 35px;
  font-size: 14px;
  border-radius: 50px;
  width: 190px;
  
  border-style: none;
}



.tasksContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

textarea {
    max-width: 350px;
    max-height: 150px;
    min-height: 50px;
    min-width: 250px;
}

.CV {
  width: 100%;
  display: flex;
  justify-content:center;
  height: 100%
}

ul {
  list-style-type: none;
}

.leftSection {
  width: 50%;
  
  text-align: center;
  border: 3px solid black;
}

form {
  margin-top: 15px;
  margin-bottom: 10px;
}

.card > h1 {
  margin-top: 20px;
  margin-bottom: 15px;
}


textarea {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   border-radius: 5px;
   
   background: #ecf0f3;
   padding: 15px 30px;
   color: black;
   border-style: none;
}





.CV {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px; /*  maybe change? */
  background-color: #ffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side{
  position: relative;
  background-color: #00645F;
  padding: 40px;
  
}

.container .right_side{
  position: relative;
  background-color: #fff;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText h2 {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;

}

.profileText span {
  font-size: 0.8em;
  font-weight: 300;
  
}  

.icon img {
  height: 25px;
  margin-right: 10px;
}

.contactInfo {
  padding-top: 40px;
}

.title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

li {
  display: flex;
  align-items: center;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  list-style-type: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon img {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contactInfo ul li span {
  color: #fff;
  font-weight: 400;
}

.text {
  font-size: large;
  ;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.right_side p {
  color: #333
}

.add-experience {
  --background:#084cdf;
  --text: white;
  outline: none;
  cursor: pointer;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 11px;
  line-height: 16px;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  color: var(--text);
  background: var(--b, var(--background));
  transition: transform 0.15s ease-in-out 0s;
  transform: scale(var(--scale, 1)) translateZ(0);
  width: 4rem;
  margin-top: 3%;
}

.add-experience:hover {
  background: #0d45a5;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition:  .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.imageContainer {
  align-items: center;
  margin-top: 1rem;
}

.pdfButton {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: baseline;
  margin-top: 1rem;
}

svg {
  height: 1.5rem;
  cursor: pointer;
  transition: transform 0.15s ease-in-out 0s;
  transform: scale(var(--scale, 1)) translateZ(0);
  margin-left: 1rem;
}


svg:hover {
  transform: scale(1.1);
}

.text > h4 {
  color: white;
  font-weight: normal;
}

